<html>
  <head>
  	{{ template "sources.gohtml" }}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {{ template "header.gohtml" }}
    </header>

    <main class="container" role="main">
      <div class="container page-name">
        <h1>Cart</h1>
      </div>
		  <table id="cart" class="table table-striped table-hover table-align-middle">
        <tbody>
          <!--Dynamically filled by HTML5 template-->
        </tbody>
		  </table>
      <form class="form-inline text-center form-inline-block" name="submit-order" action="/cart-to-request" method="POST">
        <button id="submit_request" type="submit" class="btn btn-primary" disabled="true">Submit request</button>
      </form>
      <template id="cart_item_template">
        <tr>
          <td>
            <div class="cart-icon">
              <img id="cart_icon" src="#" class="img-fluid" alt="icon">
            </div>
          </td>
          <td id="cart_name" class="text-truncate"></td>
          <td id="cart_reason" class="text-truncate" style="max-width:150px;"></td>
          <td class="text-center">
            <button type="submit" id="cart_button_edit" data-request_id="" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Edit item"><i class="fas fa-edit"></i></button>
            <button type="submit" id="cart_button_delete" data-request_id="" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete item"><i class="far fa-trash-alt"></i></button>
          </td>
        </tr>
    </template>
		</main>
  <footer class="footer mt-auto py-3">
    {{ template "footer.gohtml" }}
  </footer>
  <script src="/static/js/cart.js"></script>
</html>
