<html>
  <head>
  	{{ template "sources.gohtml" }}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {{ template "header.gohtml" }}
    </header>

    <main class="container" role="main">
      <div class="container page-name">
        <h1 class="d-flex align-items-center">
          Cart
          <div id="loader" class="spinner-border ml-auto text-primary" style="font-size:1rem;" role="status" aria-hidden="true"></div>
        </h1>
      </div>
		  <table id="cart" class="table table-striped table-hover">
        <tbody>
          <!--Dynamically filled by HTML5 template-->
        </tbody>
		  </table>
      <div class="text-center">
        <button id="submit_request" type="button" class="btn btn-primary" onclick="submitRequest()" disabled="true">Submit request</button>
      </div>
      <template id="cart_item_template">
        <tr>
          <td>
            <div class="cart-icon">
              <img id="cart_icon" src="#" class="img-fluid" alt="icon">
            </div>
          </td>
          <td id="cart_name" class="text-truncate"></td>
          <td id="cart_reason" class="text-truncate" style="max-width:150px;"></td>
          <td class="text-center">
            <a id="cart_button_view" class="btn btn-primary" style="color:white;" data-toggle="tooltip" data-placement="bottom" title="View request"><i class="far fa-eye"></i></a>
            <a id="cart_button_clone" class="btn btn-primary" style="color:white;" data-toggle="tooltip" data-placement="bottom" title="Clone request"><i class="far fa-clone"></i></a>
            <a id="cart_button_edit" class="btn btn-primary" style="color:white;" data-toggle="tooltip" data-placement="bottom" title="Edit request"><i class="far fa-edit"></i></a>
            <a id="cart_button_delete" class="btn btn-danger" style="color:white;" data-toggle="tooltip" data-placement="bottom" title="Delete request"><i class="far fa-trash-alt"></i></a>
          </td>
        </tr>
    </template>

		</main>
  <footer class="footer mt-auto py-3">
    {{ template "footer.gohtml" }}
  </footer>
  <script src="/static/js/cart.js"></script>
</html>
