<html>
  <head>
  	{{ template "sources.gohtml" }}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {{ template "header.gohtml" }}
    </header>

    <main class="container" role="main">
      <div class="container page-name">
        <h1 class="d-flex align-items-center">
          Cart
          <div id="loader" class="spinner-border ml-auto text-primary" style="font-size:1rem;" role="status" aria-hidden="true"></div>
        </h1>
      </div>
		  <table id="cart" class="table table-striped table-hover table-align-middle">
        <tbody>
          <!--Dynamically filled by HTML5 template-->
        </tbody>
		  </table>
      <div class="text-center">
        <button id="submit_request" type="button" class="btn btn-primary" onclick="submitRequest()" disabled="true">Submit request</button>
      </div>
      <template id="cart_item_template">
        <tr>
          <td>
            <div class="cart-icon">
              <img id="cart_icon" src="#" class="img-fluid" alt="icon">
            </div>
          </td>
          <td id="cart_name" class="text-truncate"></td>
          <td id="cart_reason" class="text-truncate" style="max-width:150px;"></td>
          <td class="text-center">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal"><i class="far fa-eye"></i></button>
            <button type="submit" id="cart_button_clone" form="" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Clone item"><i class="far fa-clone"></i></button>
            <!--<button type="submit" id="cart_button_edit" form="" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Edit item"><i class="far fa-edit"></i></button>-->
            <button type="button" id="cart_button_delete" data-request_id="" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete item"><i class="far fa-trash-alt"></i></button>
            <!--
            <form id="edit" action="/request" method="POST" style="display:none;">
              <input id="cart_template_id" name="template_id" value="#" hidden="true"></input>
              <input id="cart_request_id" name="request_id" value="#" hidden="true"></input>
              <input id="cart_action" name="cart_action" value="edit" hidden="true"></input>
            </form>
            -->
            <form id="clone" action="/request" method="POST" style="display:none;">
              <input id="cart_template_id" name="template_id" value="#" hidden="true"></input>
              <input id="cart_request_id" name="request_id" value="#" hidden="true"></input>
              <!--<input id="cart_action" name="cart_action" value="clone" hidden="true"></input>-->
            </form>
          </td>
        </tr>
    </template>

    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Modal body text goes here.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

		</main>
  <footer class="footer mt-auto py-3">
    {{ template "footer.gohtml" }}
  </footer>
  <script src="/static/js/cart.js"></script>
</html>
