<div class="container text-center">
  <img src="/static/logo.png" style="height: 50px;" class="img-fluid" alt="logo">
  <span class="text-muted"><a href="https://github.com/siw36/go-awx-approver" target="_blank" >go-awx-judge</a> v0.1</span>
</div>
