<html>
  <head>
  	{{ template "sources.gohtml" }}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {{ template "header.gohtml" }}
    </header>

    <main class="container" role="main">
      <div class="container page-name">
				<h1>Request job template</h1>
			</div>
			<div class="container">
        <div class="card-icon">
          {{ if eq .Icon "" }}
          <img src="/static/logo.png" class="img-fluid" alt="icon">
          {{ else }}
          <img src="{{ .Icon }}" class="img-fluid" alt="icon">
          {{ end }}
        </div>
				<form method="POST" id="template" action="/cart-add">
					<div class="form-group">
						<label for="template_id">ID</label>
						<input form="template" class="form-control" name="template_id" id="template_id" type="text" readonly="true" value="{{ if eq .ID "" }}null{{ else }}{{ .ID }}{{ end }}"><br />
					</div>
					<div class="form-group">
						<label for="name">Name</label><br />
						<input form="template" class="form-control" name="name" type="text" readonly="true" value="{{ if eq .Name "" }}null{{ else }}{{ .Name }}{{ end }}"><br />
					</div>
					<div class="form-group">
						<label for="description">Description</label><br />
						<input form="template" class="form-control" name="description" type="text" readonly="true" value="{{ if eq .Description "" }}null{{ else }}{{ .Description }}{{ end }}"><br />
					</div>
          <div class="container page-name">
    				<h4>Survey variables</h4>
    			</div>
          <div class="form-group">
						<label for="request_reason">Request reason</label><br />
            <textarea form="template" class="form-control" name="request_reason" id="request_reason" rows="3" required="true"></textarea>
					</div>
          {{ range .Spec }}
          <div class="form-group">
            <label for="{{ .Variable }}">{{ .QuestionName }}</label>
            {{ if eq .Type "multiplechoice" }}
            <select class="form-control" id="{{ .Variable }}" name="{{ .Variable }}">
              {{ range StringsSplit .Choices "\n" }}
              <option>{{ . }}</option>
              {{ end }}
            </select>
            {{ end }}
            {{ if eq .Type "multiselect" }}
              {{ range StringsSplit .Choices "\n" }}
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="{{ .Variable }}" name="{{ .Variable }}" value="{{ . }}">
                <label class="form-check-label" for="{{ .Variable }}">{{ . }}</label>
              </div>
              {{ end }}
            {{ end }}
            {{ if eq .Type "text" }}
            <div class="input-group">
              <input type="text" id="{{ .Variable }}" name="{{ .Variable }}" class="form-control" aria-describedby="{{ .Variable }}-description" {{ if .Required }}required="true"{{ end }} {{ if .RegEx }}pattern="{{ .RegEx }}" aria-describedby="{{ .Variable }}-append"{{ end }} {{ if .Default }}value="{{ .Default }}"{{ end }} />
              {{ if .RegEx }}
              <div class="input-group-append">
                <span class="input-group-text" id="{{ .Variable }}-append">Pattern: {{ .RegEx }}</span>
              </div>
              {{ end }}
            </div>
            {{ end }}
            {{ if eq .Type "textarea" }}
            <div class="input-group">
              <textarea type="text" id="{{ .Variable }}" name="{{ .Variable }}" class="form-control" aria-describedby="{{ .Variable }}-description" {{ if .Required }}required="true"{{ end }} {{ if .RegEx }}pattern="{{ .RegEx }}" aria-describedby="{{ .Variable }}-append"{{ end }} {{ if .Default }}value="{{ .Default }}"{{ end }} ></textarea>
              {{ if .RegEx }}
              <div class="input-group-append">
                <span class="input-group-text" id="{{ .Variable }}-append">Pattern: {{ .RegEx }}</span>
              </div>
              {{ end }}
            </div>
            {{ end }}
            {{ if eq .Type "password" }}
            <div class="input-group">
              <input type="password" id="{{ .Variable }}" name="{{ .Variable }}" class="form-control" aria-describedby="{{ .Variable }}-description" {{ if .Required }}required="true"{{ end }} {{ if .RegEx }}pattern="{{ .RegEx }}" aria-describedby="{{ .Variable }}-append"{{ end }}  {{ if .Default }}value="{{ .Default }}"{{ end }} />
              {{ if .RegEx }}
              <div class="input-group-append">
                <span class="input-group-text" id="{{ .Variable }}-append">Pattern: {{ .RegEx }}</span>
              </div>
              {{ end }}
            </div>
            {{ end }}
            {{ if eq .Type "integer" }}
            <input type="number" id="{{ .Variable }}" name="{{ .Variable }}" min="{{ .Min }}" max="{{ .Max }}" class="form-control" aria-describedby="{{ .Variable }}-description" {{ if .Required }}required="true"{{ end }} {{ if .Default }}value="{{ .Default }}"{{ end }} />
            {{ end }}
            {{ if eq .Type "float" }}
            <input type="number" id="{{ .Variable }}" name="{{ .Variable }}" placeholder="1.0" step="0.01" min="{{ .Min }}" max="{{ .Max }}" class="form-control" aria-describedby="{{ .Variable }}-description" {{ if .Required }}required="true"{{ end }} {{ if .Default }}value="{{ .Default }}"{{ end }} />
            {{ end }}
            <small id="{{ .Variable }}-description" class="form-text text-muted">
              {{ .QuestionDescription }}
            </small>
          </div>
          {{ end }}
          <input form="template" class="form-control" style="display:none;" name="icon" type="text" readonly="true" value="{{ if eq .Icon "" }}/static/logo.png{{ else }}{{ .Icon }}{{ end }}">
				</form>
			</div>
			<div class="form-inline text-center form-inline-block">
        <button type="submit" form="template" class="btn btn-primary">Add to cart</button>
			</div>
		</main>

  <footer class="footer mt-auto py-3">
    {{ template "footer.gohtml" }}
  </footer>
</html>
