<html>
  <head>
  	{{ template "sources.gohtml" }}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {{ template "header.gohtml" }}
    </header>

    <main class="container" role="main">
      <div class="container page-name">
        <h1>Requests</h1>
      </div>

      {{ if . }}
		  <table class="table table-striped table-hover table-align-middle">
        <tbody>
		    {{ range . }}
  		    <tr id="{{ .ID }}">
            <td>
              <div class="cart-icon">
                <img src="{{ .Survey.Icon }}" class="img-fluid" alt="icon">
              </div>
            </td>
  		      <td class="text-truncate">{{ .Survey.Name }}</td>
  		      <td class="text-truncate" style="max-width:150px;">{{ .RequestReason }}</td>
            {{ if eq .State "pending" }}
            <td>{{ .State }}</td>
            {{ end }}
            {{ if eq .State "approved" }}
            <td style="color:green">{{ .State }}</td>
            {{ end }}
            {{ if eq .State "denied" }}
            <td style="color:red">{{ .State }}</td>
            {{ end }}
            <td class="text-truncate" style="max-width:150px;">{{ .Reason }}</td>
            <td class="text-center">
              <button type="submit" form="reorder-item-{{ .ID }}" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Reorder item"><i class="far fa-copy"></i></button>
              <button type="submit" form="delete-item-{{ .ID }}" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete item" {{ if eq .State "pending" }}{{ else }}disabled="true"{{ end }}><i class="far fa-trash-alt"></i></button>
  		      </td>
  		    </tr>
          <form class="form-inline-buttons text-center" name="reorder-item-{{ .ID }}" id="reorder-item-{{ .ID }}" action="/reorder" method="POST">
            <input style="display:none;" name="request_id" value="{{ .ID }}" readonly="true">
          </form>
          <form class="form-inline-buttons text-center" name="delete-item-{{ .ID }}" id="delete-item-{{ .ID }}">
            <input style="display:none;" name="request_id" value="{{ .ID }}" readonly="true">
          </form>
		    {{ end }}
        </tbody>
		  </table>
      {{ else }}
      No requests found
      {{ end }}
		</main>

  <footer class="footer mt-auto py-3">
    {{ template "footer.gohtml" }}
  </footer>
  <script src="/static/js/cart.js"></script>
</html>
