<html>
  <head>
  	{{ template "sources.gohtml" }}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {{ template "header.gohtml" }}
    </header>

    <main class="container" role="main">
      <div class="container page-name">
        <h1>Available job templates</h1>
      </div>

		  <table class="table table-striped table-hover">
        <thead class="thead-dark">
  				<tr>
  			    <th scope="col">ID</td>
  			    <th scope="col">Name</td>
  					<th scope="col">Description</td>
  					<th scope="col">Action</td>
  			  </tr>
  			</thead>
        <tbody>
		    {{ range . }}
  		    <tr>
  		      <td>{{ .ID }}</td>
  		      <td>{{ .Name }}</td>
  		      <td>{{ .Description }}</td>
  		      <td>
  		        <form method="POST" id="{{ .ID }}" action="/import-template-form">
  		          <input type="text" name="id" value="{{ .ID }}" readonly="true" style="display: none;">
  		          <input type="text" name="name" value="{{ .Name }}" readonly="true" style="display: none;">
  		          <input type="text" name="description" value="{{ .Description }}" readonly="true" style="display: none;">
  		          <input type="submit" value="Import">
  		        </form>
  		      </td>
  		    </tr>
		    {{ end }}
        </tbody>
		  </table>
		</main>

  <footer class="footer mt-auto py-3">
    {{ template "footer.gohtml" }}
  </footer>
</html>
