<html>
  <head>
  	{{ template "sources.gohtml" }}
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      {{ template "header.gohtml" }}
    </header>

    <main class="container" role="main">
      <!-- Content goes here -->
    </main>

  <footer class="footer mt-auto py-3">
    {{ template "footer.gohtml" }}
  </footer>
</html>
